@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <center>
        <div class="row">
            <h1 class="display-4">Bem vindo</h1>
        </div>
        <br />
        <div class="row">
            <h2>Este e o MySales</h2>
        </div>
        <div class="row">
            <h3>Desenvolvidor por: Ariel Vitor</h3>
        </div>
        <div class="row d-flex display-inline-start">
            <div style="padding-right: 10px;">
                <h3>Linkedin:</h3>
            </div>
            <div class="pr-4">
                <a class="btn btn-primary" href="https://www.linkedin.com/in/arielvitor/">Ir para o LinkedIn</a>
            </div>
        </div>
    </center>
</div>
